@import '../../theme/variables/variables.scss';

.container{
    min-width: 100%;
    padding: 0px !important;
    margin-bottom: 50px;
}
.image-container{
    margin-top: auto;
}
.range-inputs{
    width: 50px;
    border: 1px solid $main-purple;
}