@import '../../theme/variables/variables.scss';

.container{
    min-width: 100%;
    padding: 0px !important;
    margin-bottom: 50px;
}
.image-container{
    margin-top: auto;
}
.range-inputs{
    width: 50px;
    border: 1px solid $main-purple;
}
.tooltip-after{
    .filter-tooltip{
        background-color: $main-purple;
        text-align: center;
        width: 15px;
        width: 15px;
        font-weight: bold;
        color: white;
        p{
            width: inherit;
        }
    }
    .tooltip-container{
        display: none;
        visibility: hidden;
    }
    &:hover{
        .tooltip-container{
            visibility: inherit;
            background-color: $main-purple;
            color: white;
            font-weight: bold;
            border-radius: 10px;
            padding: 5px;
            position: absolute;
            margin-top: -5px;
        }
    }
}