@import '../../theme/variables/variables.scss';

.button-container{
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid $main-purple;
    padding: 0 40px;
    &.primary{
        color: #FFFFFF;
        background-color: $main-purple;
    }
    &.secondary{
        color: $main-purple;
    }
    p{
        line-height: 2rem;
        margin: 0;
        padding: 0;
    }
}